<% content_for :javascripts do %>
<script type='text/javascript'>
	var handler = Gmaps.build('Google');
	handler.buildMap({ internal: {id: 'multi_markers'}}, function(){
		var markers = handler.addMarkers(<%=raw @hash.to_json %>);
  		handler.bounds.extendWith(markers);
  		handler.fitMapToBounds();
	});

</script>
<% end %>

<div style='width: 800px;'>
  <div id="multi_markers" style='width: 800px; height: 400px;'></div>
</div>

<%= @instagram %>